@font-face {
    font-family: susanne;
    src: url(../font/susanne-nouveau.ttf);
}

@font-face {
    font-family: germania;
    src: url(../font/germania-regular.ttf);
}

body {
    color: #fbf1c7;
    background-color: #fbf1c7;  
    font-family: germania;
}

.header {
    background-color: #076678;
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
}

.header h1 {
    font-weight: bold;
    color: #b8bb28;
}

.header li {
    display: inline;
    list-style: none;
    margin-left: 10%;
    font-size: 1.9em;
}

.header a {
    text-decoration: none;
    color: #98971a; 
}

.header a:hover {
    color: #b8bb26;
}

#primeira-casa {
    background-color: #427b58;
}

#segunda-casa {
    background-color: #d65d0e;
}

.casa {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.5em;
}

.casa h4 {
    font-size: 1.7em;
}

.casa img {
    width: 100%;
}

.extras {
    background-color: #8f3f71;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.extras h4 {
    font-size: 2.7em;
}

.extras h5 {
    margin-top: 2%;
    margin-bottom: 0px;
    font-size: 1.3em;
}

.extras p {
    font-size: 1.8em;
}


.contato {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fabd2f;
    text-align: center;
}

.contato h5 {
    font-size: 1.3em;
    margin-bottom: 0px;
    color: #504945;
}

.contato p {
    font-size: 1.6em;
    color: #282828;
}

.contato a {
    text-decoration: none;
    color: #282828;
}


.assinatura {
    background-color: #282828; 
    padding-top: 1%;
    text-align:center;
    color: #a89984;
}

.assinatura a {
    text-decoration: none;
}   

.assinatura-amor {
    color: #cc241d;
}

.assinatura-autor {
    color: #076678;
}

.background {
    background-repeat: no-repeat; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
} 

#background-one {
   background-image: url("../images/background/piscina.jpg"); 

   @media only screen and (min-width : 320px) and (max-width : 480px) {
        background: url(../images/piscina-mobile.png) no-repeat center center fixed;
    }
}

#background-two {
   background-image: url("../images/background/piscina2.jpg"); 
}

#background-three {
   background-image: url("../images/background/lagoa.jpg"); 
}
