@font-face {
    font-family: germania;
    src: url(../font/germania-regular.ttf);
}

@font-face {
    font-family: beach-resort;
    src: url(../font/beach-resort.ttf);
}

@font-face {
    font-family: sunshine;
    src: url(../font/sunshine.ttf);
}

body {
    color: #fbf1c7;
    background-color: #fbf1c7;
    font-family: germania;
}

.header {
    background-color: #fdf6e3;
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
}

.header h1 {
    font-family: beach-resort;
    color: #2aa198;
}

.header li {
    display: inline;
    list-style: none;
    margin-left: 7%;
    font-size: 1.6em;
}

.header a {
    text-decoration: none;
    color: #98971a;
}

.header a:hover {
    color: #b8bb26;
}

#info {
    background-color: #fdf6e3;
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.5em;
    color: #282828;
}

#sobrado-da-lagoa {
    background-color: #c2ddb9;
    color: #282828;
}

#morada-da-lagoa {
    background-color: #f1c7ab;
    color: #282828;
}

.casa {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.5em;
}

.casa-nome {
    font-size: 1.7em;
}

.casa-tipo {
    margin-bottom: 0px;
    font-weight: bold;
}

.casa-box {
    margin-top: 3%;
}

.casa-img {
    border: 2px solid #fbf1c7;
    border-radius: 3%;
    width: 100%;

    -webkit-box-shadow: 0px 0px 30px 1px rgba(40,40,40,0.6);
    -moz-box-shadow: 0px 0px 30px 1px rgba(40,40,40,0.6);
    box-shadow: 0px 0px 30px 1px rgba(40,40,40,0.6);
}

#extra {
    background-color: #fdf6e3;
    color: #282828;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.extra-titulo {
    font-size: 2.7em;
}

.extra-nome {
    margin-top: 2%;
    margin-bottom: 0px;
    font-size: 1.3em;
}

.extra-texto {
    font-size: 1.8em;
}

.contato {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fabd2f;
    text-align: center;
}


.informacoes {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fdf6e3;
    color: #282828;
    text-align: center;
}

.regra {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 1.6em;
}

.regra ul {
    list-style: none;
    color: #bf565a;
}

.check-in {
    color: #458588;
}

.check-in h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.check-in h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.8em;
}
.check-in p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.check-out {
    color: #cc241d;
}
.check-out h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.check-out h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.8em;
}
.check-out p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.multa-check-out p {
    margin-bottom: 0px;
    font-size: 1.4em;
}

.contato h5 {
    font-size: 1.3em;
    margin-bottom: 0px;
    color: #504945;
}

.contato p {
    font-size: 1.6em;
    color: #282828;
}

.contato a {
    text-decoration: none;
    color: #282828;
}


.assinatura {
    background-color: #282828;
    padding-top: 1%;
    text-align:center;
    color: #a89984;
}

.assinatura a {
    text-decoration: none;
}

.assinatura-amor {
    color: #cc241d;
}

.assinatura-autor {
    color: #076678;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
}

#background-one {
   background-image: url("../images/background/piscina-e-lagoa.png");
}

#background-two {
   background-image: url("../images/background/piscina2.jpg");
}

#background-three {
   background-image: url("../images/background/lagoa.jpg");
}

.whatsapp-buttom {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

@media (max-width: 750px) {
  .whatsapp-web {
    display: none;
  }
}

@media (min-width: 750px) {
  .whatsapp-mobile {
    display:none;
  }
}
